@use "../../scss/index" as *;

.movie {
  box-shadow: 0 0 2rem $background-color6;
  border-radius: 0.7rem;
  padding: 1rem;
  @include flexAlign;
  flex-direction: column;
  backdrop-filter: blur(0.2rem);
  font-family: $font-family;
  color: $color-white2;
  width: 80%;
  max-width: 60%;
  animation: cardAppear 0.25s ease-in forwards;

  @media only screen and (max-width: 1200px) {
    width: 80%;
    max-width: 80%;
  }
  @media only screen and (max-width: 550px) {
    width: 90%;
    max-width: 95%;
  }

  &__title {
    font-size: clamp(1.7rem, 3vw, 2.4rem);
    letter-spacing: 1px;
    text-shadow: 0 0 1rem $color-grey2;
    margin-bottom: 1rem;
  }

  &__summary {
    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    margin-bottom: 1rem;

    &-text {
      font-size: clamp(0.85rem, 2vw, 1rem);
      text-align: center;
      line-height: 2rem;
      margin-bottom: 1rem;
      min-width: 100px;
    }

    &-img {
      max-width: 50%;
      box-shadow: 0 0 2rem $background-color6;

      @media only screen and (max-width: 879px) {
        display: none;
      }
    }
  }

  &__info {
    @include grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, auto));
    gap: 1rem;
    min-width: 100%;
    margin-bottom: 1rem;
    color: $color-electric;
    font-weight: 500;

    &-data {
      @include flex(center, center);
      font-size: clamp(0.8rem, 1vw, 1rem);
      text-align: center;
      box-shadow: 0 0 0.75rem #426c91a1;
      padding: 0.05rem 0.5rem;
      border-radius: 1rem;
      gap: 0.5rem;
    }

    i {
      color: $color-white2;
    }
    .icon {
      color: $color-electric;
    }
  }
}

@keyframes movieAppear {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
