.navloged__search {
  position: relative;
  margin-right: 1rem;

  input {
    padding: 0.8rem 0.8rem 0.8rem 2.5rem;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    max-width: 0rem;
    opacity: 0;
    transition: max-width 0.2s ease-in, opacity 0.25s ease-in;
    cursor: pointer;

    // .open {
    //   outline: none;
    //   opacity: 1;
    //   max-width: 19rem;
    // }
  }
  .open {
    outline: none;
    opacity: 1;
    max-width: 19rem;

    @media only screen and (max-width: 900px) {
      max-width: 13rem;
    }
  }
}
