$primary-red: #e50914;
$secondary-red: #622323;

$color-green-light: #00ff00;

$color-electric: #65ceab;

$color-white1: #fff;
$color-white2: #e5e5e5;

$color-grey1: #8c8c8c;
$color-grey2: #737373;
$color-grey3: #bbb4b4;
$color-grey4: #5e5e5e;

$color-orange1: #e87c03;

$color-black1: #333;
$color-black2: #000;

$background-color1: rgba(0, 0, 0, 0.75);
$background-color2: #333533c4;
$background-color3: #161616;
$background-color4: #00000075;
$background-color5: #1a1919;
$background-color6: #7fffd440;

$font-family: "Open Sans", sans-serif;
