@use "../../../scss/index" as *;

.card-wrapper {
  flex: 0 0 calc(100% / var(--items-per-screen));
  transition: trasnform 0.3s ease;
}

.card {
  margin-right: 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
  animation: cardAppear 0.5s 0.5s ease-in forwards;
  opacity: 0;
  scale: 0.5;
  position: relative;

  &:active,
  &:hover,
  &:focus {
    z-index: 1000;
    scale: 0.95;
    outline: none;
  }

  &:hover &__extra,
  &:focus &__extra {
    opacity: 1;
    pointer-events: visible;
    outline: none;
    height: 100%;
  }

  &__img {
    img {
      width: 100%;
      vertical-align: middle;
      aspect-ratio: 16/15;
    }
  }

  &__extra {
    padding: 0.5rem;
    background-image: linear-gradient(45deg, $secondary-red, transparent);
    @include flex(center, center);
    flex-direction: column;
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease-in;
    box-shadow: inset 0 0 1rem rgba(255, 0, 0, 0.157);
    position: absolute;
    bottom: 0;
    height: 0;

    @media only screen and (max-width: 650px) {
      padding: 0.25rem;
    }

    &-btn {
      font-size: clamp(0.9rem, 2vw, 1rem);
      padding: 0.5rem 1rem;
      border-radius: 1.2rem;
      text-decoration: none;
      margin-bottom: 1rem;
      color: $color-white1;
      font-family: $font-family;
      background: linear-gradient(145deg, #e5091494, hsl(0, 2%, 12%));
      box-shadow: 0rem 0rem 1rem #e50914bd;
      transition: background-color 0.15s ease-in;

      @media only screen and (max-width: 650px) {
        padding: 0.25rem 0.5rem;
      }

      &:hover,
      &:active,
      &:focus {
        outline: none;
        background-color: #e50914de;
      }
    }

    &-summary {
      font-size: clamp(0.75rem, 2.5vw, 0.85rem);
      white-space: break-spaces;
      text-align: center;
      line-height: 1.29rem;
      font-family: $font-family;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    &-votes {
      align-self: end;
      position: relative;
      background: #c64249a3;
      box-shadow: 0 0 0.3rem $primary-red;
      padding: 0.1rem 0.2rem;
      border-radius: 1rem;
      font-size: 0.65rem;
      font-family: $font-family;
    }
  }
}

@keyframes cardAppear {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
